<h2>Help</h2>
<div class="output">Welcome to the help section! Here are the available commands:</div>
<div class="command-list">
    <div class="command-item">
        <div class="command-name">projects</div>
        <div class="command-description">- List my projects</div>
    </div>
    <div class="command-item">
        <div class="command-name">contact</div>
        <div class="command-description">- Get my contact information</div>
    </div>
    <div class="command-item">
        <div class="command-name">about</div>
        <div class="command-description">- Show information about me</div>
    </div>
    <div class="command-item">
        <div class="command-name">whoami</div>
        <div class="command-description">- Reveal your mysterious digital persona</div>
    </div>
    <div class="command-item">
        <div class="command-name">clear</div>
        <div class="command-description">- Clear the terminal screen</div>
    </div>
    <div class="command-item">
        <div class="command-name">help</div>
        <div class="command-description">- Display this help message</div>
    </div>
</div>
<div class="output">Type your command below to get started!</div>
